html, body {
    overflow-x: hidden;
    background: url('/slike/pozadina.jpg');
    color: white;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#exampleModal .modal-content {
    background: fixed;
    background-image: url('/slike/reg-pattern.avif');
    background-size: cover;
}

#exampleModal .modal-header {
    color: black; 
    font-weight: bold;
    border-color: #000000;
}

#exampleModal .modal-body {
    color: black; 
    border-color: #000000;
}

#exampleModal .modal-footer {
    border-color: #000000;
}

#exampleModal2 .modal-content {
    background: fixed;
    background-image: url('/slike/reg-pattern.avif');
    background-size: cover;
    height: 50%;
}

#exampleModal2 .modal-header {
    color: black; 
    font-weight: bold;
    border-color: #000000;
}

#exampleModal2 .modal-body {
    color: black; 
    border-color: #000000;
}

#exampleModal2 .modal-footer {
    border-color: #000000;
    height: 22%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 9999; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 40%;
    height: 80%;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .modal-content {
        width: 80%;
    }
}

@media screen and (max-height: 600px) {
    .modal-content {
        height: 60%;
    }
}

@media screen and (max-width: 480px) {
    .modal-content {
        width: 90%;
    }
}

@media screen and (max-height: 400px) {
    .modal-content {
        height: 50%;
    }
}

.close {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
    background-color: red; 
    border: none;
    border-radius: 5px;
}

.close:hover {
    transform: scale(1.1);
}

.row.align-items-center {
    min-height: 100vh; 
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.h-100 {
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.dropdown-menu {
    margin-top: 0;
}
.card {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description {
    font-size: 14px;
    color: #888888;
    margin-bottom: 10px;
}

.card-link {
    text-decoration: none;
}

.card {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.05); 
    border-radius: 10px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.prijava {
    text-align: left; 
    margin-top: 100px; 
    margin-bottom: 100px;
}

input[type="email"],
        input[type="password"] {
            border-radius: 20px; 
            border: 1px solid #ccc; 
            padding: 8px 12px; 
            margin-bottom: 10px; 
        }

.btn {
    background-color: transparent;
    color: #11ba17;
    border-width: 2px;
    padding: 10px 20px;
    border-color: #11ba17;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #11ba17;
    color: white;
    border-color: #11ba17;
}

.btn-reg {
    background-color: transparent;
    color:  rgb(245, 13, 13);
    padding: 10px 20px;
    border-color: rgb(245, 13, 13);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.btn-reg:hover {
    background-color: rgb(245, 13, 13);
    color: rgb(0, 0, 0);
}

.btn-sign {
    background-color: transparent;
    color:  rgb(204, 12, 221);
    padding: 10px 20px;
    border-color: rgb(204, 12, 221);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.btn-sign:hover {
    background-color: rgb(204, 12, 221);
    color: rgb(0, 0, 0);
}

.kontakt {
    background-color: #f8f9fa; 
    padding: 20px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.kontakt h2 {
    color: #333; 
    font-size: 24px;
    margin-bottom: 10px;
}

.kontakt p {
    color: #555; 
    font-size: 16px;
    margin-bottom: 15px;
}

.kontakt ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.kontakt ul li {
    color: #777; 
    font-size: 16px;
    margin-bottom: 5px;
}

.kontakt ul li strong {
    color: #333; 
}

.popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;
}

.carousel-caption {
    position: absolute;
    margin-bottom: 20px;
    left: 0;
    right: 0;
    background-color: transparent; 
    color: #fff;
    padding: 10px;
}